/*styles.css*/
body{
	background-image: url(pix2/hubblesmall.png), url(pix2/stars.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain, cover;
	background-color: black;
}
#wrapper {
	position:fixed;
	top:10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	/* "white" for older browser */
	background: white;
	/*rbga for newer browser */
	background: rgba(255,255,255,.6);
	border-radius: 10px;
}
/*Make HTML5 layout elements block elements for older browsers */
header, nav, aside, article, footer, section {
 display: block;
}

/*style applies to header and footer*/
header, footer {
	position: absolute;
	height: 15%;
	width: 100%
	padding: 1%;
}

header {
	top:0;
	left:0;
	border-radius: 10px 10px 0 0;
}
footer {
	bottom: 0;
	left: 0;
	border-radius: 0 0 10px 10px;
}

/*absolutely positioning navbar to the side */
nav {
	position: absolute; 
	top:15%;
	left:0;
	bottom: 15%;
	padding: 1%;
}
/* Main article fits inside header, footer, nav */
article {
	position: absolute;
	top: 15%;
	left: 15%;
	right: 0;
	bottom: 15%;
	padding: 10px;
	overflow: auto;
	background: rgba (255, 255, 255, .6);
}
}
